.brands{
    animation-name: brands;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes brands{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.brands .row .inner{
    transition: 0.3s;
}

.brands .row .inner:hover{
    transform: scale(1.05);
    box-shadow: 0 0.5rem 2.5rem rgb(0, 0, 0);
    cursor: pointer;
}